h1{
    color: black;
    text-align: center;
}
p{
    color: rgb(39, 36, 36);
}
button{
    color:#1556dc;
    background: white;
    border: 2px solid #1556dc;
    border-radius: 8px;
    padding: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    border: none;
    border-collapse: collapse;
}
.grid-item{
    
    border: none;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.grid-item:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1)

}